* {
    box-sizing: border-box;
}

body {
    width: 300px;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}


.text-mid {
    text-align: center;
}
.n-text{
    font-size: 20px;
}
.bold-600{
    font-weight: 600;
}

.margin-left-10px{
    margin-left: 10px;
}
.flex-mid{
    display: flex;
    align-items: center;
}



.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch .hide-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;

}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}


.toggle-button:checked + .slider {
    background-color: #2196f3;
}

.toggle-button:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

.toggle-button:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
